button {
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
}

/* Mobile */
@media (max-width: 768px) {
  button {
    padding: 8px 12px;
    font-size: 14px;
  }
}

/* PRIMARY */
button.btn-primary {
  background-color: blue;
  color: white;
}

button.btn-primary:hover {
  background-color: white;
  color: blue;
}

/* SECONDARY */
button.btn-secondary {
  color: rgb(142, 142, 142);
}

button.btn-secondary:hover {
  color: rgb(255, 255, 255);
}

/* GREEN */
button.btn-green {
  color: var(--green);
}

button.btn-green:hover {
  opacity: 0.8; /* subtiele hover */
}

/* GRAY */
button.btn-gray {
  background-color: var(--gray);
  color: white;
}

button.btn-gray:hover {
  opacity: 0.85;
}

/* White */
.btn-white {
  background-color: var(--white);
  color: black;
}

button.btn-white:hover {
  opacity: 0.85;
}
