:root{
--green: rgb(0, 59, 24);
--blue: rgb(25, 0, 251);
--darkblue: rgb(0, 3, 59);
--gray: rgb(147, 147, 147);
--lightgray: rgb(148, 148, 148);
--darkgray: rgb(77, 76, 76);
--black: rgb(0, 0, 0);
--white: rgb(255, 255, 255);
/* --kleur: rgb(0, 59, 24); */
}
